{namespace Card}

/**
 * This renders the main element.
 * @param? cssClass
 */
{template .render}
	{@param children: html}
	<div class="campaign-manager-card {($cssClass) ? $cssClass : ''}">
		<div class="campaign-manager-card-body clearfix">
			{$children}
		</div>
	</div>
{/template}
