{namespace ImageCard}

/**
 * @param count
 * @param imageUrl
 * @param title
 */
{template .render}
	<div class="campaign-manager-image-card">
		{call Card.render}
			{param children kind="html"}
				<div class="campaign-manager-card-title">{$title}<span class="highlight count">{$count}</span></div>
				<div><img src="{$imageUrl}"></div>
			{/param}
		{/call}
	</div>
{/template}
